html {
     height: 100%;
   }
   body {
      width: 1600px;
      height: 100%;
      margin: 0px;
      background-color: lightblue;
   }

   header {
       background-color: plum;
       padding: 5px;
       border: 3px solid #000000 ;
       font-size: 25px;
       display: block;
       text-align: center;
   }
   nav {
      float: left;
      width: 50%;
      display: list-item;
      padding: inherit;
   }
   nav ul {
       border: 1px solid #000000;
       padding: 5px ;
       float: left;
       background-color: lightgreen;
       display: list-item;
       width: 200px;
       height: 70px;
       margin: 0px;
   }
   nav li {
       float: left;
   }
   nav li a {
       display: block;
       height: 25px;
       padding: 12px 18px 8px 18px;
       vertical-align: middle;
   }
   a {
       color: ;
   }
   section {
       width: 50%;
       display:inline-block;
       float: left;
       background-color: lightgreen;
       text-align: center;
       vertical-align: baseline;
       margin: 0px;
   }
   aside {
       width: 17%;
       display: inline-block;
       background-color:;
       padding:;
       min-height: 100%;
   }
   aside ul {
   }
   footer {
       width: 1200px;
       border: 5px solid;
       color:orange;
       clear: both;
       display: block;
   }
